<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h2 style="margin-top: 20px">Registration Form</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h5>Please fill out the form below and submit</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <form [formGroup]="form" (ngSubmit)="submitForm(form)">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            [class.is-invalid]="
              form.get('username').invalid && form.get('username').touched
            "
            type="text"
            id="username"
            class="form-control"
            autocomplete="off"
            formControlName="username"
          />
          <small
            class="form-text text-danger"
            *ngIf="form.get('username').invalid && form.get('username').touched"
            >Username is required</small
          >
          <small
            *ngIf="form.get('username').errors?.pattern"
            class="form-text text-danger"
            >Username must be between 5-20 characters; only letters and
            underscore are valid inputs</small
          >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            [class.is-invalid]="
              form.get('email').invalid && form.get('email').touched
            "
            type="email"
            id="email"
            class="form-control"
            autocomplete="off"
            formControlName="email"
          />
          <small
            class="form-text text-danger"
            *ngIf="
              form.get('email').errors?.required &&
              form.get('email').invalid &&
              form.get('email').touched
            "
            >Email is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="form.get('email').errors?.pattern"
            >Please enter a valid email address; e.g
            username.1985@gmail.com</small
          >
        </div>
        <div formArrayName="emails" *ngIf="emails.length > 0">
          <div *ngFor="let control of emails.controls; let i = index">
            <div class="form-group">
              <label for="email">Aditional Email {{ i + 1 }}</label>
              <input
                [class.is-invalid]="emails.controls[i].errors?.pattern"
                type="email"
                id="email"
                class="form-control"
                autocomplete="off"
                [formControlName]="i"
              />
              <small
                class="form-text text-danger"
                *ngIf="emails.controls[i].errors?.pattern"
                >Please enter a valid email address; e.g username.1985@gmail.com
              </small>
            </div>
          </div>
        </div>
        <button
          type="button"
          style="margin-bottom: 20px"
          class="btn btn-primary"
          (click)="addEmail()"
        >
          Add more emails
        </button>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            [class.is-invalid]="
              form.get('password').touched && form.get('password').invalid
            "
            formControlName="password"
            type="password"
            id="password"
            class="form-control"
            autocomplete="off"
          />
          <small
            class="form-text text-danger"
            *ngIf="form.get('password').touched && form.get('password').invalid"
            >Password is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="form.get('password').errors?.pattern"
            >Password must be between 8 - 20 characters and must cantain at
            least 1 lower case, 1 upercase, 1 digit, and 1 special character
          </small>
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input
            [class.is-invalid]="
              form.get('confirm').touched && form.get('confirm').invalid
            "
            formControlName="confirm"
            type="password"
            id="confirm"
            class="form-control"
            autocomplete="off"
            (keyup)="comparePassword($event)"
          />
          <small
            class="form-text text-danger"
            *ngIf="form.get('confirm').touched && form.get('password').invalid"
            >Password confirmation is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="passwordMatch && !form.get('password').invalid"
            >Password confirmation does not match</small
          >
        </div>
        <div class="form-group">
          <label for="phone">Phone #</label>
          <input
            [class.is-invalid]="
              form.get('phone').touched && form.get('phone').invalid
            "
            formControlName="phone"
            type="text"
            id="phone"
            class="form-control"
            autocomplete="off"
          />
          <small
            *ngIf="form.get('phone').touched && form.get('phone').invalid"
            class="form-text text-danger"
            >Phone # is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="form.get('phone').errors?.pattern"
            >Phone # must be 11 digits</small
          >
        </div>
        <button
          type="button"
          class="btn btn-primary mr-3 mb-5"
          (click)="resetForm()"
        >
          Reset
        </button>
        <button
          type="submit"
          [disabled]="this.form.invalid || passwordMatch"
          class="btn btn-primary mb-5"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
