<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h2 style="margin-top: 20px">Registration Form</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h5>Please fill out the form below and submit</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <form #userForm="ngForm" (ngSubmit)="submitForm()">
        <!-- <p>{{userForm.value | json}}</p> -->
        <!-- In order for ngModel to work, fields must have the name attribute -->
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            #name="ngModel"
            [class.is-invalid]="name.invalid && name.touched"
            id="username"
            required
            pattern="^[a-zA-Z_]{5,20}$"
            name="username"
            class="form-control"
            autocomplete="off"
            [(ngModel)]="user.username"
          />
          <small
            *ngIf="name.errors?.required && name.invalid && name.touched"
            class="form-text text-danger"
            >Username is required!</small
          >
          <small *ngIf="name.errors?.pattern" class="form-text text-danger"
            >Username must be between 5-20 characters; only letters and
            underscore are valid inputs</small
          >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            required
            pattern="^([\w\.]+)@([a-z]{3,10})\.([a-z]{3,8})(\.[a-z]{2,8})?$"
            type="email"
            id="email"
            name="email"
            class="form-control"
            autocomplete="off"
            [(ngModel)]="user.email"
          />
          <small
            *ngIf="email.errors?.required && email.invalid && email.touched"
            class="form-text text-danger"
            >Email is required</small
          >
          <small *ngIf="email.errors?.pattern" class="text-danger form-text"
            >Please enter a valid email address; e.g username.1985@gmail.com
            {{ email.errors?.pattern | json }}</small
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            [class.is-invalid]="password.invalid && password.touched"
            #password="ngModel"
            required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W])(?!.*\s).{8,20}$"
            type="password"
            id="password"
            name="password"
            class="form-control"
            autocomplete="off"
            [(ngModel)]="user.password"
          />
          <small
            class="form-text text-danger"
            *ngIf="
              password.errors?.required && password.invalid && password.touched
            "
            >Password is required</small
          >
          <small class="form-text text-danger" *ngIf="password.errors?.pattern">
            Password must be between 8 - 20 characters and must cantain at least
            1 lower case, 1 upercase, 1 digit, and 1 special character
          </small>
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input
            [class.is-invalid]="confirm.invalid && confirm.touched"
            #confirm="ngModel"
            required
            type="password"
            id="confirm"
            name="confirm"
            class="form-control"
            autocomplete="off"
            [(ngModel)]="user.confirm"
            (keyup)="comparePassword($event)"
          />
          <small
            class="form-text text-danger"
            *ngIf="
              confirm.errors?.required && confirm.invalid && confirm.touched
            "
            >Password confirmation is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="passwordMatch && !confirm.invalid"
            >Password confirmation does not match</small
          >
        </div>
        <div class="form-group">
          <label for="phone">Phone #</label>
          <input
            [class.is-invalid]="phone.invalid && phone.touched"
            #phone="ngModel"
            required
            pattern="^[\d]{11}$"
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            autocomplete="off"
            [(ngModel)]="user.phone"
          />
          <small
            *ngIf="phone.errors?.required && phone.invalid && phone.touched"
            class="form-text text-danger"
            >Phone # is required</small
          >
          <small class="form-text text-danger" *ngIf="phone.errors?.pattern"
            >Phone # must be 11 digits</small
          >
        </div>
        <button
          type="button"
          (click)="reset()"
          class="btn btn-primary mr-3 mb-5"
        >
          Reset
        </button>
        <button
          type="submit"
          [disabled]="userForm.form.invalid || passwordMatch"
          class="btn btn-primary mb-5"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
